<div class="card">
  <div class="card-content">
    <div class="media">
      <% if status.user.avatar.attached? %>
        <div class="media-left">
          <%= image_tag(status.user.avatar.variant(:bigger_thumb), size: "96x96", class: "image is-96x96") %>
        </div>
      <% end %>
      <div class="media-content">
        <div class="title is-4">
          <%= link_to status.user do %>
            <%= status.user.username %>
          <% end %>
        </div>
        <div class="subtitle is-6">
          <%= time_tag status.created_at do %>
            <span>
              shared <%= time_ago_in_words status.created_at %> ago
            </span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-content">
      <%= status.content %>
    </div>
    <% if status.user.eql? current_user %>
      <div class="card-footer">
        <div class="card-footer-item">
          <%= link_to "Edit status", edit_status_path(status) %>
        </div>
        <div class="card-footer-item">
          <%= link_to "Delete status", status, method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>
