<div class="container">
  <div class="title">Log in</div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: "label" %>
      <div class="control">
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password, class: "label" %>
      <div class="control">
        <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me, class: "checkbox" %>
      <%= f.label :remember_me, class: "checkbox" %>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "button is-link" %>
    </div>
  <% end %>
</div>
